/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
#service {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #018ec4;
}
#service .kartu {
  max-width: 1400px;
  padding: 60px 0;
}
#service .slide-container {
  margin: 0 20px;
  /* overflow: hidden; */
}

#service .swiper-navBtn {
  color: #005f9f;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #249ce2;
  border-radius: 50%;
}

#service .swiper-button-next {
  transform: translateX(-340%);
}
#service .swiper-button-prev {
  transform: translateX(350%);
}

#service .swiper-navBtn::before,
#service .swiper-navBtn::after {
  font-size: 24px;
  font-weight: bold;
}

#service .swiper-pagination-bullet {
  background-color: #005f9f;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

#service .layered-card {
  position: relative;

  width: 388px;
  height: 487px;
}

#service .layered-card::before {
  background: #0077bb;
  content: "";

  top: 0;
  left: 0;
  position: absolute;
  transform: translate(1rem, 1rem);

  height: 100%;
  width: 100%;
  border-radius: 37px;

  z-index: 0;
}

#service .layered-card__content {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
  border-radius: 37px;
  z-index: 1;
  background: #0084ff;
}

#service .card {
  overflow: hidden;
  background-color: #005f9f;
  position: relative;
  font-family: "Noto sans", sans-serif;
  z-index: 2;
  border-color: #005f9f;
}

#service .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  bottom: 0;
  position: absolute;
  background: #005f9f7c;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.9s;
}

#service .card:hover .card-body {
  left: 0;
}

#service .header-description {
  padding-left: 5rem;
}

#service .card-title {
  font-size: 41px;
  padding-left: 0.5rem;

  font-weight: bold;
  text-transform: uppercase;
}

#service .card-text {
  font-size: 16px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

#service .card-image {
  padding: 5px;
  object-fit: cover;
  height: 300px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#service .card-description {
  padding-left: 1rem;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
}

#service .text-title1 {
  font-weight: 700;
  font-size: 50px;
}
